<head>
    <script src="/static/lib/jquery-3.1.1.js"></script>
    <script src="/static/lib/vue.js"></script>
    <script src="/static/lib/vuetify.js"></script>
    <link href="/static/lib/vuetify.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">    
    <link href="/static/styles/game.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/assets/hansa-icon.png" sizes="32x32">
</head>
<body>
    <div id="htg_game" tabindex="-1" v-on:keydown.68="ToggleDebug"> <!-- Toggle debug when D key is pressed -->
        <div id="htg_play_area">
            <span>Current player: {{ currentPlayer.name }}</span><br>
            <span v-bind:title="statusTooltip">{{ statusMessage }}</span><br>
            <span v-if="IsAnyMovePending()">
                <div>Move Action</div>
                <button v-on:click="OnSubmitMoves()">Submit</button>  
                <button v-on:click="OnCancelMoves()">Cancel</button>  
            </span>
            <div id="htg_game_board">
                <template v-for="location in locations">
                    <div v-bind:id="'f-' + location.id" class="htg_location" v-bind:class="{ htg_active: location.active }" v-bind:style="location.position">
                        <div v-bind:id="'f-' + location.id + '-t'" class="htg_location_trader" v-bind:class="{ htg_debug: isDebugEnabled }" v-on:click="OnLocationClicked(location.id)"></div>
                        <div v-bind:id="'f-' + location.id + '-m'" class="htg_location_merchant" v-bind:class="{ htg_debug: isDebugEnabled }" v-on:click="OnLocationClicked(location.id)"></div>
                        <div
                          v-bind:id="location.occupyingResource.id"
                          class="htg_resource_icon"
                          v-bind:class="[location.occupyingResource.type, { htg_selected: IsResourceSelectedAtLocation(location.id), htg_pending_move: IsResourcePendingMoveAtLocation(location.id) }]"
                          v-bind:style="GetSpriteStyleForResource(location.occupyingResource)"
                          v-if="location.isOccupied"
                          v-on:click="OnResourceSelected(location.id)">
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/src/game.js"></script>
</body>