<head>
    <script src="/static/lib/jquery-3.1.1.js"></script>
    <script src="/static/lib/vue.js"></script>
    <script src="/static/lib/vuetify.js"></script>
    <link href="/static/lib/vuetify.min.css" rel="stylesheet" type="text/css">    
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">    
    <link rel="icon" type="image/png" href="/static/assets/hansa-icon.png" sizes="32x32">
    <!--<link rel="stylesheet" href="index.css" type="text/css">-->
</head>
<body>    
    <div id="app">
        <v-text-field v-bind:hint="gameCreationHint" persistent-hint v-model="gameName"></v-text-field><br>        
        <v-text-field v-bind:hint="playerIDHint" persistent-hint v-model="loggedInPlayerID"></v-text-field><br>        
        <span v-bind:title="tooltip">{{ statusMessage }}</span><br>
        <v-btn light default v-on:click.native="CreateGame">Create Game</v-btn><br>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>players</th>
                    <th>current player</th>
                    <th>state</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="game in games">
                    <tr>
                        <td>{{ game.id }}</td>
                        <td><a v-bind:href="GetUrlForGame(game.id)">{{ game.name }}</td>
                        <td>{{ game.players | extractNames}}</td>
                        <td>{{ game.currentPlayerID }}</td>
                        <td>{{ game.status.name }}</td>
                        <td>
                            <!-- The v-menu causes TypeError: Cannot read property 'addEventListener' of null. To be investigated. -->
                            <v-menu offset-y top v-show="ShouldShowGameOptions(game)">
                                <v-btn primary dark slot="activator" secondary>Options</v-btn>
                                <v-list>
                                    <v-list-item>
                                        <v-list-tile v-show="ShouldShowJoin(game)" v-on:click.native="AddPlayer(game.id)">
                                            <v-list-tile-title>Join</v-list-tile-title>
                                        </v-list-tile>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-tile v-show="ShouldShowStart(game)" v-bind:disabled="game.status.value != 1" v-on:click.native="StartGame(game.id)">
                                            <v-list-tile-title>Start</v-list-tile-title>
                                        </v-list-tile>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-tile v-show="ShouldShowDelete(game)">
                                            <v-list-tile-title>Delete</v-list-tile-title>
                                        </v-list-tile>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="/static/src/index.js"></script>
</body>

