/* Overall layout */
body {
    background-color: dimgrey;
}
#htg_play_area {
    position: relative;
    /* border: 1px dotted black; */
}
#htg_play_area > * { /* selects all children in the play area */
    margin: 15px auto; /* add some vertical spacing between elements */
}
/* Game board */
#htg_game_board {
    position: relative;
    width: 1280px;
    height: 876px;
    margin: auto; /* center this element horizontally */
    background-image: url('/static/assets/ht_board_2-3_1280.jpg');
    background-repeat: no-repeat;
}
.htg_player_board {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    /* border: 1px dotted cyan; */
}
/* Board locations */
.htg_location {
    position: absolute;
}
.htg_location_merchant {
    position: absolute;
    left: -12px;
    top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%; /* circle */
}
.htg_location_trader {
    position: absolute;
    left: -8px;
    top: -8px;
    width: 16px;
    height: 16px;    
}
.htg_location .htg_active {
    background-color: rgba(255, 255, 255, 0.1);
}
.htg_location .htg_debug {
    border: 2px solid red;
}
/* Sprites */
.htg_resource_icon {
    position: absolute;
    left: -12px;
    top: -12px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.htg_resource_icon.merchant {
    background-image: url('/static/assets/merchants_30x30.png');
}    
.htg_resource_icon.trader {
    background-image: url('/static/assets/traders_30x30.png');
}
.htg_resource_icon:hover {
    filter: brightness(120%);
}
.htg_resource_icon:active {
    filter: brightness(150%);
}
.htg_resource_icon.htg_selected {
    filter: brightness(150%);
}
.htg_resource_icon.htg_pending_move {
    box-shadow: 0 0 5px 5px black;
}